
<div *ngIf="form_settings">
  <div fxLayout="row" fxLayoutAlign="center center">
      <div class="mat-display-1" style="margin-top:20px;">Movie list</div>
  </div>
    
  <mat-tab-group 
    style="min-height:100%;"
    mat-stretch-tabs 
    class="example-stretched-tabs mat-elevation-z4"
    (selectedTabChange) = "selectedTabChange($event)"
    
  >

    <mat-tab label="Popular" #popular data-index="0" style="min-height:100%;">

      <div fxLayout="( isHandset$ | async ) ? 'column' : 'row'"  fxLayoutAlign="center center" fxLayoutGap="5%" >
          <p >
            <span style="margin-right: 20px;">Popularity</span>
            <mat-button-toggle-group #group="matButtonToggleGroup" (change)="change($event,'popularity')" [formControl]="form_settings.get('sort.popularity')">
                <mat-button-toggle [value]="'asc'">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="'desc'">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
          </p>

          <p>
            <span style="margin-right: 20px;">Rating</span>
            <mat-button-toggle-group #group="matButtonToggleGroup" (change)="change($event,'vote_average')" [formControl]="form_settings.get('sort.vote_average')"  >
                <mat-button-toggle [value]="'asc'">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="'desc'">
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
          </p>
        </div>


      <mat-spinner *ngIf="!form_settings.get('videos_sorted').value"></mat-spinner>
      <app-grid-movie-list *ngIf="form_settings.get('videos_sorted').value" [videos]="form_settings.get('videos_sorted').value"></app-grid-movie-list>
    </mat-tab>
    <mat-tab label="Top rated" #top_rated data-index="1" style="min-height:100%;"> 
     
      <div fxLayout="( isHandset$ | async ) ? 'column' : 'row'" fxLayoutAlign="center center" fxLayoutGap="5%" >
        <p >
          <span style="margin-right: 20px;">Popularity</span>
          <mat-button-toggle-group #group="matButtonToggleGroup" (change)="change($event,'popularity')" [formControl]="form_settings.get('sort.popularity')" >
              <mat-button-toggle [value]="'asc'">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="'desc'">
                <mat-icon>keyboard_arrow_up</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <p>
          <span style="margin-right: 20px;">Rating</span>
          <mat-button-toggle-group #group="matButtonToggleGroup" (change)="change($event,'vote_average')" [formControl]="form_settings.get('sort.vote_average')" >
              <mat-button-toggle [value]="'asc'">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="'desc'">
                <mat-icon>keyboard_arrow_up</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
        </p>
      </div>
    
      <mat-spinner *ngIf="!form_settings.get('videos_sorted').value"></mat-spinner>
      <app-grid-movie-list *ngIf="form_settings.get('videos_sorted').value" [videos]="form_settings.get('videos_sorted').value"></app-grid-movie-list>
    </mat-tab>

  </mat-tab-group>
</div>
