.mat-card-title {
    margin-bottom: 8px;
    height: 80px !important;
}

.card {
    margin-top: 10px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }