.mat-card-title {
    margin-bottom: 8px;
    height: 80px !important;
}

.card {
    margin-top: 10px;
    text-align: center;
}

.example-radio-group {
display: inline-flex;
flex-direction: column;
}

.example-radio-button {
margin: 5px;
}

.example-selected-value {
margin: 15px 0;
}

.card-image {
    max-height: 300px;

}

.mat-card-footer {
    margin: 0 0px 0px 0px !important;
}