<header fxLayout="row">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow fxHide.gt-sm>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span class="app-name">
      Video
      
    </span>

    <div class="beta">BETA</div>

    <div fxHide fxShow.gt-sm style="width: 100%">
      
    </div>

    <span class="fill-remaining-space"></span>



  </mat-toolbar>
</header>
<mat-sidenav-container>
  <mat-sidenav 
  #sidenav
  name="sidenav"
  class="sidenav"
  fixedInViewport="true"
  >

    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

  
