/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-row {
    width: 100%;
    //margin-top: 20p;
}

.mat-display-1, 
.mat-display-2, 
.mat-display-4,
p,
input,
mat-hint,
button,
a,
mat-tab,
.mat-h1,
.mat-h2,
.mat-cell,
.mat-row

{
    font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Roboto', sans-serif;
    font-weight: 200;
}


header {
    flex: 0 1 auto;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0;
    z-index: 1000;
  
  
    mat-toolbar {
      span.app-name {
        margin-left: 16px;
      }
      span.fill-remaining-space {
        flex: 1 1 auto;
      }
      mat-icon {
        width: 28px;
        height: 28px;
        font-size: 28px;
      }
    }
  }
  
  mat-sidenav-container {
    flex: 1 1 auto;
  
    mat-sidenav {
      width: 200px;
      //padding: 20px;
      padding-top: 64px;
    }
  
    mat-sidenav-content {
      //padding: 8px;
      //min-height: 100vh;
      height: 100%;
    }
  }
  
  
  